[Ll]ibrary
[Tt]emp
[Oo]bj
[Bb]uild
[Bb]uilds
[Ll]ogs
[Uu]serSettings
MemoryCaptures
[Aa]ssetsAssetStoreTools
[Pp]ackagespackages-lock.json
.vs
.DS_Store
.user
.csproj
.sln
.tmp
.pidb
.booproj
.svd
.pdb
